<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Recommendation</title>
  <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"}>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <script src="/static/script.js"></script>
</head>

<body>
 
<div class="title">Can’t think of what to watch or read next?</div>
<div class="title">We’ll help you.</div>

<br>

<div class="description">Rate 5 of each genre.</div>
<div class="description">2 minutes.</div>
<div class="description">We’ll recommend something you’ll love.</div>

<br>
<section class="submit-button" id="submit-button">
</section>
<br>
<section class="column-left" id="movies">
  <div class="genre">Movies</div>
</section>

<section class="column-center" id="shows">
  <div class="genre">TV Shows</div>
</section>

<section class="column-right" id="books">
  <div class="genre">Books</div>
</section>

<br>

<input type="hidden" id="movie_title_ids" name="movie_title_ids" value="{{ movie_titles.ids }}">
<input type="hidden" id="movie_title_one" name="movie_title_one" value="{{ movie_titles.one }}">
<input type="hidden" id="movie_rating_one" name="movie_rating_one" value="{{ movie_rating.one }}">
<input type="hidden" id="movie_title_two" name="movie_title_two" value="{{ movie_titles.two }}">
<input type="hidden" id="movie_title_three" name="movie_title_three" value="{{ movie_titles.three }}">
<input type="hidden" id="movie_title_four" name="movie_title_four" value="{{ movie_titles.four }}">
<input type="hidden" id="movie_title_five" name="movie_title_five" value="{{ movie_titles.five }}">

<input type="hidden" id="tv_title_ids" name="tv_title_ids" value="{{ tv_titles.ids }}">
<input type="hidden" id="tv_title_one" name="tv_title_one" value="{{ tv_titles.one }}">
<input type="hidden" id="tv_title_two" name="tv_title_two" value="{{ tv_titles.two }}">
<input type="hidden" id="tv_title_three" name="tv_title_three" value="{{ tv_titles.three }}">
<input type="hidden" id="tv_title_four" name="tv_title_four" value="{{ tv_titles.four }}">
<input type="hidden" id="tv_title_five" name="tv_title_five" value="{{ tv_titles.five }}">

<input type="hidden" id="book_title_ids" name="book_title_ids" value="{{ book_titles.ids }}">
<input type="hidden" id="book_title_one" name="book_title_one" value="{{ book_titles.one }}">
<input type="hidden" id="book_title_two" name="book_title_two" value="{{ book_titles.two }}">
<input type="hidden" id="book_title_three" name="book_title_three" value="{{ book_titles.three }}">
<input type="hidden" id="book_title_four" name="book_title_four" value="{{ book_titles.four }}">
<input type="hidden" id="book_title_five" name="book_title_five" value="{{ book_titles.five }}">
<form action="" method="post" id="form_change_title" name="form_change_title">{% csrf_token %}  </form>

<br>
 
</body>
</html>