
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Recommendation</title>
  <link rel="stylesheet" type="text/css" href="/static/stylesheet.css"}>  
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <script src="/static/script.js"></script>
</head>

<body>
 
<div class="title">Thank you.</div>
<br>
<div class="title">Give these a try.</div>
<br>

<section class="column-left" id="movies">
  <div class="genre">Movies</div>
  <div class="suggestion">{{movie_recs.one}}</div>
  <br>
<div class="suggestion">{{movie_recs.two}}</div>
</section>

<section class="column-center" id="shows">
  <div class="genre">TV Shows</div>
  <div class="suggestion">{{tv_recs.one}}</div>
  <br>
<div class="suggestion">{{tv_recs.two}}</div>
</section>

<section class="column-right" id="books">
  <div class="genre">Books</div>
  <div class="suggestion">{{book_recs.one}}</div>
  <br>
<div class="suggestion">{{book_recs.two}}</div>
 
</section>
<br>
<br>
<br>
<br>
<div class="button-align" id="add_button">
	<button class="pure-button pure-button-primary" type="submit" id="add_more_ratings" onclick="document.getElementById('add_more_ratings_form').submit(); return false;"><span>Add more ratings</span></button>
	<form id="add_more_ratings_form" action="/" method="get"> </form>
</div>


</body>
</html>