body {
  font-family: Avenir, Open Sans, "Helvetica";
  padding: 35px 100px 100px 100px;
  /*background-color: #DDDAE8;*/
  /*background-color: #DFC8E7;*/
}

.title {
  text-align: center;
  font-family: AvenirNext-Regular;
  font-size: 30px;
  color: #707070;
  line-height: 41px;
}

.description {
  text-align: center;
  font-family: AvenirNext-Medium;
  font-size: 18px;
  color: #979797;
  line-height: 25px;
}

.genre {
  font-size: 30px;
  padding: 0px 0px 20px 0px;
  font-family: AvenirNext-UltraLight;
  color: #414141;
  line-height: 41px;
  text-align: center
}

.column-left { 
  float: left;
  width: 33%; 
}

.column-right {
  float: right; 
  width: 33%;
}

.column-center { 
  display: inline-block;
  width: 33%;
}

.box {
  background: rgba(215,215,215,0.15);
  padding: 10px 20px 10px 20px;
  margin: 0px 50px 0px 0px;

  border-radius: 8px;
  border: 1px solid #979797;

  /* Jane Eyre: */
  font-family: AvenirNext-Regular;
  font-size: 25px;
  color: #414141;
  line-height: 34px;
}

.box p {
  margin: 0px 0px 0px 0px;
}

.box button {
  background-image     : url('images/delete2.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  border: none;

  float: right;
  padding: 0px 0px 0px 0px;
  vertical-align: top;
}

.box button span {
  display: none;
}

.starRating {
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('images/stars.png') repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div {
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input {
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span {
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label {
  background : url('images/stars.png') repeat-x 0 -24px;
}

.starRating:hover input:checked + label {
  background : transparent;
}

.starRating:hover input:hover + label {
  background : url('images/stars.png') repeat-x 0 -48px;
}

.suggestion {
  font-family: AvenirNext-Regular;
  font-size: 24px;
  color: #979797;
  line-height: 41px;
  text-align: center
}

.button-align{
	text-align: center
}
